// ------------------------------------------------------------------------------
// name: grid - 卡片组件
// author: 喵大斯( mschool.tech )
// created: 2019/7/15
// ------------------------------------------------------------------------------
// 主要类名：d-card、d-card__head、d-card__body、d-card__foot
// 应用场景：主要适用于移动端的内容块级组件，常用于类似“公众号文章块、普通内容块”等场景
@import "mixin/utils";
@import "mixin/mixins";

@include b(card) {

  $--logo-space-factor: 0.25; // logo 与边缘的距离比例
  $--logo-height: $--card-title-height * (1 - $--logo-space-factor);
  $--logo-width: $--logo-height;

  padding: 0 $--padding-small;
  background-color: $--color-white;
  margin-bottom: $--margin-base;
  overflow: hidden; // 保留头部圆角样式（原被头部背景遮挡）

  @include when(shadow) {
    box-shadow: $--box-shadow-light;
  }

  @include when(card) {
    border-radius: $--border-radius-base;

    @at-root {
      @include e(head) {
        margin-left: -$--padding-small;
        margin-right: -$--padding-small;
        background-color: $--background-color-light;

        @include m(main) {
          padding-left: $--padding-small;
        }

        @include m(more) {
          padding-right: $--padding-small;
        }
      }
    }
  }

  %head-style {
    height: $--card-title-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  %more-style {
    text-align: right;
  }

  %utils-ellipsis {
    @include utils-ellipsis;
  }

  @include e(head) {
    @extend %head-style;
    color: $--color-text-regular;
    font-size: $--font-size-medium;
    border-bottom: .01rem solid $--border-color-extra-light;

    @include m(logo) {
      flex: 0 0 $--logo-width;
      height: $--logo-width;
      margin-left: $--padding-base * 0.5;
      border-radius: 50%;
      overflow: hidden;

      & + [class$='main'] {
        padding-left: $--padding-base * 0.5 !important;
      }
    }

    @include m(main) {
      @extend %utils-ellipsis;
      flex: 1;
    }

    @include m(more) {
      @extend %more-style;
      @extend %utils-ellipsis;
      flex: 0 0 20%;
    }
  }

  @include e(body) {
    //padding: $--padding-small 0;
    margin-left: -$--padding-small;
    margin-right: -$--padding-small;
  }

  @include e(foot) {
    @extend %head-style;
    color: $--color-text-secondary;
    line-height: $--card-title-height * 0.8;
    border-top: .01rem solid $--border-color-extra-light;

    @include m(main) {
      @extend %utils-ellipsis;
    }

    @include m(more) {
      @extend %more-style;
      @extend %utils-ellipsis;
    }
  }

}
