// ------------------------------------------------------------------------------
// name: core
// author: 喵大斯( mschool.tech )
// created: 2019/7/13
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// 原理介绍：
// 通过将 html 设置 100px 做为 Root FontSize，其它单位全部换算成 x/100rem 来适配移动端
// 而为了修正内容区域的字体大小，将 body 再次修正为 14px 的默认字体大小。
// 如此，则可以在未改变字体大小环境的情况下，依然能够快速通过 rem 进行设置尺寸、大小、位置、距离等。
// ------------------------------------------------------------------------------
@import "./common/var";

html {
  font-size: $--html-font-size;
}

body {
  color: $--body-text-color;
  font-family: $--body-font-family;
  font-size: $--body-font-size;
  background-color: $--body-background-color;

  // 字体渲染抗锯齿，只对 MacOS 的 webkit、moz 有效，Windows 系统无区别
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}
