/********************************************************************************

 区块组件（v0.0.1.20190715）
 ------------------------------------------------------------------------------
 主要类名：d-section、d-section__head、d-section__body、d-section__foot
 应用场景：主要适用于移动端的内容块级组件，常用于类似“公众号文章块、普通内容块”等场景

 ********************************************************************************/
@import "./mixin/utils";
@import "./mixin/mixins";

@include b(section) {

  $--logo-space-factor: 0.25;
  $--logo-space: $--section-title-height * ($--logo-space-factor * 0.5);
  $--logo-height: $--section-title-height * (1 - $--logo-space-factor);
  $--logo-width: $--logo-height;

  color: $--color-text-regular;
  padding: 0 $--section-padding;
  background-color: $--color-white;
  margin-bottom: $--section-margin;
  overflow: hidden; // 保留头部圆角样式（原被头部背景遮挡）

  @include when(shadow) {
    box-shadow: $--box-shadow-light;
  }

  @include when(card) {
    margin-left: $--section-margin;
    margin-right: $--section-margin;
    border-radius: $--border-radius-base;

    @at-root {
      @include e(head) {
        margin-left: -$--section-padding;
        margin-right: -$--section-padding;
        background-color: $--background-color-light;

        @include m(main) {
          padding-left: $--section-padding;
        }

        @include m(more) {
          padding-right: $--section-padding;
        }
      }
    }
  }

  .head-style {
    font-size: $--font-size-medium;
    height: $--section-title-height;
    display: flex;
    justify-content: space-between;
  }

  .more-style {
    font-size: $--font-size-base;
    text-align: right;
  }

  .utils-ellipsis {
    @include utils-ellipsis;
  }

  @include e(head) {
    @extend .head-style;
    line-height: $--section-title-height;
    border-bottom: .01rem solid $--border-color-extra-light;

    @include m(logo) {
      flex: 0 0 $--logo-width;
      height: $--logo-width;
      margin-left: $--section-padding * 0.5;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      top: $--logo-space;

      & + [class$='main'] {
        padding-left: $--section-padding * 0.5 !important;
      }
    }

    @include m(main) {
      @extend .utils-ellipsis;
      flex: 1;
    }

    @include m(more) {
      @extend .more-style;
      @extend .utils-ellipsis;
      flex: 0 0 20%;
    }
  }

  @include e(body) {
    color: $--color-text-primary;
    padding: $--section-body-padding;
  }

  @include e(foot) {
    @extend .head-style;
    color: $--color-text-secondary;
    line-height: $--section-title-height * 0.8;
    border-top: .01rem solid $--border-color-extra-light;

    @include m(main) {
      @extend .utils-ellipsis;
      font-size: $--font-size-base;
    }

    @include m(more) {
      @extend .more-style;
      @extend .utils-ellipsis;
    }
  }

}
