// ------------------------------------------------------------------------------
// name: title - 章节标题
// author: mudas( mschool.tech )
// created: 2019.07.20
// ------------------------------------------------------------------------------
@import "mixin/utils";
@import "mixin/mixins";

@include b(title) {
  padding: $--padding-small 0;
  margin-bottom: $--margin-small;
  border-bottom: .01rem solid $--border-color-light;

  @include e(main) {
    color: $--color-text-regular;
    font-size: $--font-size-medium;
    line-height: $--font-line-height-primary;
  }

  @include e(sub) {
    color: $--color-text-placeholder;
    font-size: $--font-size-base;
    line-height: $--font-line-height-secondary;
  }

}
