$icomoon-font-family: "dod-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-search: "\e930";
$icon-done: "\e97e";
$icon-close: "\e980";
$icon-angle-double-left: "\e93c";
$icon-angle-double-right: "\e947";
$icon-angle-left: "\e94d";
$icon-angle-right: "\e94f";
$icon-angle-up: "\e951";
$icon-angle-down: "\e952";
$icon-star: "\e9ef";
$icon-star-out: "\e9f1";
$icon-more-vert: "\e9e8";
$icon-menu: "\e900";
$icon-share-out: "\e9e1";

