// ------------------------------------------------------------------------------
// name: section
// author: 喵大斯( h5devs.com/h5devs.net )
// created: 2019.07.15
// ------------------------------------------------------------------------------

@import "~dodui/theme/common/var";

$theme: 'primary', 'success', 'warning', 'danger', 'info';
$theme-map: (
  primary: $--color-primary,
  success: $--color-success,
  warning: $--color-warning,
  danger: $--color-danger,
  info: $--color-info
);

.demo-section {

  .colors {
    display: flex;
    flex-wrap: wrap;

    .color {
      flex: 0 0 1rem;
      color: $--color-white;
      margin-right: 0.1rem;
      margin-bottom: 0.1rem;
      padding: 0.05rem;
      text-align: center;

      > span {
        color: rgba($--color-white, 0.6);
      }

      &:last-child {
        margin-right: 0;
      }

      @each $name, $color in $theme-map {
        &.#{$name} {
          background-color: $color;
        }
      }
    }

  }
}
